h1 {
    text-align: center;
}

.links {
    font-family: sans-serif;
    color:rgb(0, 255, 255);
}

*{
    background-color: rgb(169, 169, 169);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

img{
    height: auto;
    width: 400px;
}

.intro{
    text-align: center;
}

.recipes, .how-to-cook, .cooking{
    display: inline-block;
}

.hero{
    text-align: center;
}

.how-to-cook{
    text-align: center;
    margin-right: 400px;
    margin-left: 200px;
}

.cooking{
    text-align: center;
    width: 500px;
}